/*Modal Size and scroll*/
.modal-full {
  /* 80% of window height */
  height: 80%;
}

.body-full {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}
